<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TECHNIOSYS | Developthon</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-ubuntu.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span>TECHNIOSYS</span></a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="index.html"><span>Home Page</span></a></li>
          <li class="active"><a href="support.html"><span>Developthon</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="#"><span>Blog</span></a></li>
          <li><a href="contact.html"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="960" height="320" alt="" /></a> <a href="#"><img src="images/slide2.jpg" width="960" height="320" alt="" /></a> <a href="#"><img src="images/slide3.jpg" width="960" height="320" alt="" /></a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Solution </span> Developthon</h2>
          <div class="clr"></div>

          <ul class="sb_menu">
            <li><form action = "http://localhost:5000/result1" method = "POST"><input type = "submit" value = "Details"></form></li>
            <li><form action = "http://localhost:5000/result2" method = "POST"><input type = "submit" value = "Add New Employee"></form></li>
            <li><form action = "http://localhost:5000/result3" method = "POST"><input type = "submit" value = "Remove an Employee"></form></li>
            <li><form action = "http://localhost:5000/result4" method = "POST"><input type = "submit" value = "Senior Reporting"></form></li>
            <li><form action = "http://localhost:5000/result5" method = "POST"><input type = "submit" value = "Empty Positions"></form></li>
            <li><form action = "http://localhost:5000/result6" method = "POST"><input type = "submit" value = "Add Employee Between Levels"></form></li>
            <li><form action = "http://localhost:5000/result7" method = "POST"><input type = "submit" value = "Depth Level from CEO"></form></li>
            <li><form action = "http://localhost:5000/result8" method = "POST"><input type = "submit" value = "Depth Difference"></form></li>
          </ul>
        </div>
      </div>
      <div class="sidebar">

        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Coming </span>Soon</h2>
          <div class="clr"></div>

        </div>

      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span></span></h2>
        <p></p>

      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
        <p>Indian Institute of Information Technology, Dharwad</p>
        <p class="contact_info"> <span>Address:</span> 3rd Floor IT Park, Hubli<br />
          <span>Telephone:</span> <br />
          <span>FAX:</span> <br />
          <span>Others:</span><br />
          <span>E-mail:</span>Later</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</html>
